@model List<TemplateFiller.Models.Document>

@{
    ViewData["Title"] = "Документы";
}

<h2>Мои документы</h2>

<a asp-controller="Home" asp-action="Create" class="menu-button" )">&#128196 Новый документ</a>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Дата создания</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var document in Model)
            {
                <tr>
                    <td>@document.Name</td>
                    <td>@document.CreationDate</td>
                    <td class="table-action-column">
                        <form asp-action="Details" asp-route-id="@document.Id" method="post">
                            <button type="submit" class="reg-button info">Просмотреть</button>
                        </form>

                        <form asp-action="Send" asp-route-id="@document.Id" method="get">
                            <button type="submit" class="reg-button info">Отправить</button>
                        </form>

                        <form asp-action="Delete" asp-route-id="@document.Id" method="post"
                            onsubmit="return confirm('Вы уверены, что хотите удалить этот документ?');">
                            <button type="submit" class="reg-button danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="no-content">
        <p>Создайте свой первый документ и он обязательно появится тут :)</p>
    </div>
}